<% if @users.present? %>
  <% @users.each do |user| %>
    <div class="follow-container">

      <div class="follow-container-item">
        <% if user.avatar? %>
          <%= image_tag user.avatar.url %>
        <% else %>
          <%= image_tag ("default.jpg") %>
        <% end %>
      </div>

      <ul class="follow-container-item">
        <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
        <li>フォロー中 <%= user.followings.count %>人</li>
        <li>フォロワー <%= user.followers.count %>人</li>
        <li>投稿数 <%= user.microposts.count %></li>
      </ul>
    </div>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>