<% if @users.present? %>
  <% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <hr>
    <div class="follow-container">
      <div class="follow-container-item">
        <% if user.avatar? %>
          <%= image_tag user.avatar.url %>
        <% else %>
          <%= image_tag ("default.jpg") %>
        <% end %>
      </div>

      <ul class="follow-container-item">
        <li><%= user.name %></li>
        <li>フォロー中 <%= user.followings.count %>人</li>
        <li>フォロワー <%= user.followers.count %>人</li>
        <li>投稿数 <%= user.microposts.count %></li>
      </ul>
    </div>
    <% end %>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>