<% if logged_in? %>

  <% unless micropost.like_user(current_user.id).blank? %>
    <%= link_to micropost_like_path(micropost_id: micropost.id ,id: micropost.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <div>
          <i class="material-icons palevioletred">favorite</i>
        </div>
        <div>
          <%= micropost.likes_count %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to micropost_likes_path(micropost.id), method: :post, remote: true do %>
        <div class="no_like">
          <div>
            <i class="material-icons">favorite_border</i>
          </div>
          <div>
            <%= micropost.likes_count %>
          </div>
        </div>
    <% end %>
  <% end %>

<% else %>
  <div class="no_like">
    <i class="material-icons">favorite_border</i>
    <span>
      <%= micropost.likes_count %>
    </span>
  </div>
<% end %>