<% if logged_in? %>

  <% unless micropost.like_user(current_user.id).blank? %>
    <%= link_to micropost_like_path(micropost_id: micropost.id ,id: micropost.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <div>
          <i class="material-icons">favorite</i>
        </div>
        <div>
          <p><%= micropost.likes_count %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to micropost_likes_path(micropost.id), method: :post, remote: true do %>
      <div class="vertical_like">
        <div>
          <i class="material-icons">favorite</i>
        </div>
        <div>
          <p><%= micropost.likes_count %></p>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>

  <% if micropost.likes_count > 0 %>
    <div class="vertical_like">
      <i class="material-icons">favorite</i>
      <span>
        <p><%= micropost.likes_count %></p>
      </span>
    </div>
  <% else %>
    <div class="vertical_like">
      <i class="material-icons">favorite_border</i>
      <span>
        <p><%= micropost.likes_count %></p>
      </span>
    </div>
  <% end %>

<% end %>