<% provide(:title, "マイページを編集") %>
<div class="row">
  <div class="col-xs-12">
    <h3>マイページを編集<span class="material-icons md-36">settings</span></h3>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <div class="field-item">
          <%= f.label :name, '名前' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field-item">
          <%= f.label :avatar, 'プロフィール画像' %>
          <%= f.file_field :avatar %>
        </div>

        <div class="check-box-area">
          <%= f.check_box :remove_avatar %>
          <p>現在設定している画像をリセットする</p>
        </div>
  
        <div class="field-item">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
  
        <div class="field-item">
          <%= f.label :birthday, '生年月日' %>
          <%= f.date_field :birthday, class: 'form-control' %>
        </div>
  
        <div class="field-item">
          <%= f.label :biography, '自己紹介' %>
          <%= f.text_area :biography, class: 'form-control' %>
        </div>

        <div class="field-item">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div class="form-item">

        <div class="field-item">
          <%= f.label :password_confirmation, "パスワード確認用" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="field-item">
          <%= f.submit "変更を保存", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>