<h2>ユーザー一覧<span class="material-icons md-36">groups</span></h2>

<ul class="user-index-container">
  <% @users.each do |user| %>
  <hr>
  <a href="/users/<%= user.id %>">
    <li class="user-index">
        <div class="img-area">
          <% if user.avatar? %>
            <%= image_tag user.avatar.url %>
          <% else %>
            <%= image_tag ("default.jpg") %>
          <% end %>
        </div>

        <ul class="user-index-item">
          <li>
            <%= user.name %>
            <span>
            <% if current_user.admin? && !current_user?(user) %>
                | <%= link_to "delete", user, method: :delete, data: { confirm: "本当に削除しますか？"} %>
            <% end %>
            </span>
          </li>

          <li><%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</li>

          <li>投稿数（<%= user.microposts.count %>）</li>
        </ul>
      </li>
    </a>
  <% end %>
</ul>

<%= will_paginate %>