<section class="profile-container">
  <div class="profile-area">
    <div class="img-area">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url %>
      <% else %>
        <%= image_tag ("default.jpg") %>
      <% end %>
    </div>
    
    <div>
      <div class="basic-info">

        <p class="basic-info-item"><%= @user.name %></p>
        <!-- 生年月日から年齢を逆算 -->
        <p class="basic-info-item"><%= (Date.today.strftime("%Y%m%d").to_i - @user.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</p>
        <% if current_user?(@user) %>
          <%= link_to "プロフィールを編集", edit_user_path(current_user) %>
        <% end %>

      </div>

      <p class="basic-info-item">投稿数 (<%= @user.microposts.count %>)</p>

      <%= render partial: 'relationships/follows_count' %>
      
      <div>
        <%= link_to "ブックマーク一覧", user_bookmarklist_path(current_user) %>
      </div>
      
      <p>自己紹介：<%= @user.biography %></p>
      
      <%= render partial: 'relationships/follow_button' %>

      <% if current_user?(@user) %>
        <%= link_to "アカウントを削除", @user, method: :delete, data: { confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
  </div>
</section>

<div>
  <% if @user.microposts.any? %>
    <ol class="profile-post-area">
      <%= render 'microposts/post_content' %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>