<h1>マイページ</h1>

<section>
  <p>ユーザー名：<%= @user.name %></p>
  <!-- 生年月日から年齢を逆算 -->
  <p>年齢：<%= (Date.today.strftime("%Y%m%d").to_i - @user.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</p>
  <p><%= @user.job %></p>
  <p><%= @user.work_span %></p>
  <p><%= link_to "プロフィールを編集", edit_user_path(current_user) %></p>
</section>

<div>
  <% if @user.microposts.any? %>
    <h3>投稿 (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>

<p>詳細情報</p>

<p>アカウントを削除</p>