<% provide(:title, "プロフィール") %>
<section class="profile-container">
  <div class="profile-area row">
    <div class="img-area col-xs-5 col-md-3">
      <% if @user.avatar? %>
        <div class="img-item">
          <%= image_tag @user.avatar.url %>
        </div>
      <% else %>
        <%= image_tag ("default.jpg") %>
      <% end %>
    </div>
    
    <div class="basic-info col-xs-9 col-md-8">
      <div class="basic-info-item">
        <p><%= @user.name %></p>
      </div>
      <!-- 生年月日から年齢を逆算 -->
      <p class="basic-info-item"><%= (Date.today.strftime("%Y%m%d").to_i - @user.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</p>

      <% if current_user?(@user) && !guest_user?(@user) %>
        <div class="basic-info-item">
          <%= link_to "マイページを編集", edit_user_path(current_user), class: "basic-info-item" %>
        </div>
      <% end %>

      <p class="basic-info-item">投稿数 (<%= @user.microposts.count %>)</p>

      <%= render partial: 'relationships/follows_count' %>
      
      <% if current_user?(@user) %>
        <div class="basic-info-item">
          <%= link_to "ブックマーク一覧", user_bookmarklist_path(current_user), class: "basic-info-item" %>
        </div>
      <% end %>
      
      <div class="basic-info-item">
        <p>自己紹介:</p>
        <p>
          <%= @user.biography %>
        </p>
      </div>
      
      <%= render partial: 'relationships/follow_button' %>

      <% if current_user?(@user) && !guest_user?(@user) %>
        <div class="basic-info-item">
          <%= link_to "アカウントを削除", @user, method: :delete, data: { confirm: "本当に削除しますか？"}, class: "basic-info-item" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<div>
  <% if @user.microposts.any? %>
    <ol class="profile-post-area">
      <%= render 'microposts/post_content' %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>