<h3 style="text-align: left;">コメント<span class="material-icons md-36">textsms</span></h3>
<% if @micropost.comments.any? %>
  <% @comments.each do |c| %>
    <div>
      <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
      <p><%= c.comment %></p>
      <% if current_user.id == c.user.id %>
        <%= link_to "削除", micropost_comment_path(@micropost, c), method: :delete %>
      <% end %>
      <hr>
    </div>
  <% end %>
<% end %>

<%= form_with( model:[@micropost, @comment], method: :post, class:"comment-form") do |f| %>
  <div>
    <%= f.text_area :comment, placeholder: "コメントを入力" %>
  </div>
  <%= f.hidden_field :micropost_id, value: @micropost.id %>
  <%= f.hidden_field :user_id, value: @comment.user_id %>
  <div class="btn">
    <%= f.submit 'コメントする' %>
  </div>
<% end %>