<% provide(:title, "検索結果") %>
<%= render 'microposts/search_form' %>
<h3 style="text-align: center;"><%= @occupation.name %><br>の検索結果</h2>
<p style="text-align: center;"><span style="font-weight: bold;"><%= @microposts.count %></span>件見つかりました</p>
<tbody>
  <%= render 'microposts/post_content' %>
</tbody>
  <%= will_paginate %>