<%= render 'microposts/search_form' %>
<h2 style="text-align: center;"><%= @occupation.name %>の検索結果</h2>
<p style="text-align: center;"><span style="font-weight: bold;"><%= @microposts.count %></span>件見つかりました</p>
<tbody>
  <%= render 'microposts/post_content' %>
</tbody>
  <%= will_paginate %>