<h1>投稿詳細ページ</h1>
<h3><%= @micropost.user.name %></h3>

<%= render 'microposts/show_post_content' %>


<h2>コメント</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
    <%= c.comment %>
    <hr>
  </div>
<% end %>

<%= render 'microposts/comment_form' %>

<%= link_to "ホームへ戻る", root_path %>
