<header row>
  <!-- ハンバーガーメニュー -->
  <div id="hamburger-app">
      <h1><a href="/">だいjobそ？</a></h1>
      <button type="button" class="menu-btn js-btn" v-on:click="open=!open" >
        <span class="btn-line"></span>
      </button>

      <div class="menu" v-bind:class="{'is-active' : open }">
        <% if logged_in? %>
            <div class="menu__item">
              <%= link_to root_path, data: {"turbolinks" => false} do %>
                <div>
                  <span class="material-icons md-36">home</span>
                </div>
                <div class="mask mask01">
                  <p>ホーム</p>
                </div>
              <% end %>
            </div>


          <div class="menu__item">
            <%= link_to users_path, data: {"turbolinks" => false} do %>
              <div>
                <span class="material-icons md-36">groups</span>
              </div> 
              <div class="mask mask01">
                <p>ユーザー</p>
              </div>
            <% end %>
          </div>

          <div class="menu__item">
            <%= link_to new_micropost_path, data: {"turbolinks" => false} do %>
              <div>
                <span class="material-icons md-36">create</span>
              </div>
              <div class="mask mask01">
                <p>投稿</p>
              </div>
            <% end %>
          </div>

          <div class="menu__item">
            <%= link_to current_user, data: {"turbolinks" => false} do %>
              <div>
                <span class="material-icons md-36">person</span>
              </div>
              <div class="mask mask01">
                <p>マイページ</p>
              </div>
            <% end %>
          </div>

          <div class="menu__item">
            <%= link_to logout_path, method: :delete do %>
              <div>
                <span class="material-icons md-36">logout</span>
              </div>
              <div class="mask mask01">
                <p>ログアウト</p>
              </div>
            <% end %>
          </div>
        <% else %>

          <div class="menu__item">
            <%= link_to login_path do %>
              <div>
                <span class="material-icons md-36">login</span>
              </div>
              <div class="mask mask01">
                <p>ログイン</p>
              </div>
            <% end %>
          </div>

          <div class="menu__item">
            <%= link_to signup_path do %>
              <div>
                <span class="material-icons md-36">person_add</span>
              </div>
              <div class="mask mask01">
                <p>新規登録</p>
              </div>
            <% end %>
          </div>
          
          <div class="menu__item">
            <%= link_to users_guest_sign_in_path, method: :user do %>
            <div>
              <span class="material-icons md-36">hail</span>
            </div>
            <div class="mask mask01">
              <p>ゲストログイン</p>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</header>