<header style="background-color: beige;">
  <h1>Clear Job</h1>
  <h2>〜仕事選びのミスマッチを滅するサービス〜</h2>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>

      <% if logged_in? %>
        <li><%= link_to "ユーザー一覧", '#' %></li>
        <li>
          <ul>
            <a href="#">アカウント</a>
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "設定", "#" %></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>